* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: black; 
	font-size: 13.5px;
 }
 ul li {
 	list-style: none;
 	height: 30px;
 	line-height: 30px;
 }
html,body {
	height: 100%;
	width: 100%;
	background-color: #F4F4F4;
}
header {
	width: 100%;
	height: 100px;
	background-color: #189EFF;
	position: relative;
}
header > label {
	position: absolute;
	top: 70px;
	left: 10px;
	color: white;
	display: inline-block;
	cursor: pointer;
}
header > img {
	position: absolute;
	right: 10px;
	top: 10px;
}
header > label:hover {
	text-shadow: 1px 1px 1px black;
}
header > input {
	display: none;
}
header > div {
	display: none;
	position: absolute;
	top: 100px;
	left: 0px;
	width: 250px;
	padding: 20px 0px;
	background-color: white;
}
header > div::before {
	position: absolute;
	content: " ";
	top: -20px;
    left: 8px;
	border: 10px solid white;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid white;
}
header > input:checked + div {
	display: block;
}
header > div > ul > li > i, header > div > ul > li > a {
	height: 30px;
	line-height: 30px;
}
header > div > ul > li {
	padding-left: 20px;
	padding-right: 20px;
}
header > div > ul > li:hover {
	background-color: #189EFF;
}
header > div > ul > li > a::after {
	content: " ";
	position: absolute;
	left: 198px;
	border: 15px solid #189EFF;
	border-right: 15px solid transparent;
	border-left: 15px solid #189EFF;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	display: none;
}
header > div > ul > li > a {
	position: absolute;
	left: 52px;
}
header > div > ul > .list-menu:hover > a::after {
	display: inline-block;
}
header > div > ul > li > div {
	position: absolute;
	top: 0px;
	left: 250px;
	width: 1100px;
	height: 520px;
	background-color: white;
	padding-top: 20px;
	padding-left: 20px;
	display: none;
}
header > div > ul > li > div > div > #first-list > li > div > a {
	display: block;
	height: 21px;
	line-height: 21px;
}
header > div > ul > li > div > div > #first-list > li > div > a:hover {
	color: blue;
}

header > div > ul > li:first-child > div > div > ul  {
	position: relative;
}
header > div > ul > li:first-child:hover > div {
	display: block;
}

/** =====================================================*/ 

header > div > ul > li:nth-child(2n+1) > div > div > ul,  {
	position: relative;
}
header > div > ul > li:nth-child(2n + 1):hover > div {
	display: block;
}
header > div > ul > li:nth-child(2n + 1) > div > div > ul > li:first-child {
	position: absolute;
}
header > div > ul > li:nth-child(2n + 1) > div > div > ul > li:nth-child(2) {
	position: absolute;
	left: 350px;
}
header > div > ul > li:nth-child(2n +1) > div > div > ul > li:nth-child(3) {
	position: absolute;
	left: 620px;
}
header > div > ul > li:nth-child(2n +1) > div > div > ul > li:nth-child(4) {
	position: absolute;
	left: 880x;
}
/** =====================================================*/ 
header > div > ul > li:nth-child(2n) > div > div > ul,  {
	position: relative;
}
header > div > ul > li:nth-child(2n):hover > div {
	display: block;
}
header > div > ul > li:nth-child(2n) > div > div > ul > li:first-child {
	position: absolute;
}
header > div > ul > li:nth-child(2n) > div > div > ul > li:nth-child(2) {
	position: absolute;
	left: 350px;
}
header > div > ul > li:nth-child(2n) > div > div > ul > li:nth-child(3) {
	position: absolute;
	left: 620px;
}
header > div > ul > li:nth-child(2n) > div > div > ul > li:nth-child(4) {
	position: absolute;
	left: 870px;
}
